.header {
  width: 100%;
  background: url(../../img/header-background.png) repeat-x center bottom;
  background-size: cover;
}

.header-column-block {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-column-link-left {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .header-column-link-right {
    text-align: end;
  }
}

@media screen and (max-width: 768px) {
  .header__link-about {
    padding-right: 56px;
  }
}

@media screen and (max-width: 573px) {
  .header__link-about {
    padding-right: 0;
  }
}

.header-link {
  font-size: 18px;
  color: #293545;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: none;
  color: #293545;
}

.header-row-1 {
  margin-top: 6%;
  justify-content: space-around;
  margin: auto;
  display: flex;
}

.header-row-1-column-block {
  flex-direction: column;
  padding: initial;
  display: flex;
}

.header-row-1-column-link {
  padding-left: 27%;
}

.header-title-block {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: #293545;
}

@media screen and (max-width: 320px) {
  .header-title-block {
    font-size: 160%;
  }
}

.header-subtitle-block {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
  color: #293545;
}

@media screen and (max-width: 320px) {
  .header-subtitle-text {
    font-size: 28px;
  }
}

.logo-block {
  display: flex;
  justify-content: center;
}

.logo-img {
  height: min-intrinsic;
}

@media screen and (min-width: 1280px) {
  .logo-img {
    width: 20%;
  }
}

@media screen and (max-width: 1280px) {
  .logo-img {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .logo-img {
    width: 26%;
  }
}

@media screen and (max-width: 800px) {
  .logo-img {
    width: 60%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 415px) {
  .logo-img {
    width: 60%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 376px) {
  .logo-img {
    margin-top: 0px;
    width: 75%;
  }
}

@media screen and (max-width: 361px) {
  .logo-img {
    margin-top: 25px;
    width: 75%;
  }
}

@media screen and (max-width: 320px) {
  .logo-img {
    margin-top: 25px;
  }
}

.tagline-block {
  display: flex;
  justify-content: center;
}

.tagline-text {
  font-weight: 600;
  font-size: 16px;
  color: #293545;
}

@media screen and (max-width: 321px) {
  .tagline-text {
    font-size: 13px;
  }
}
