.main
  &-part 
    &__news
      padding-top: 40px
      padding-bottom: 0
      &-block 
        display: block
      &-subtitle 
        font-size: 22px
        font-weight: 400
        color: #293545
        font-family: helvetica
        text-align: start
      &-data 
      &-text 
        text-align: justify
        font-size: 16px
        font-weight: 400
        color: #293545
        font-family: arial 
      &-image 
        margin: auto
        height: min-intrinsic
        width: 555px
        height: 347px
        @media screen and (max-width: 773px)
          width: 465px
          height: 300px
        @media screen and (max-width: 513px)
          width: 300px
          height: 200px
        @media screen and (max-width: 355px)
          width: 250px
          height: 190px
        &-block 
          display: flex 