.main-part__news {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-part__news-block {
  display: block;
}

.main-part__news-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #293545;
  font-family: helvetica;
  text-align: start;
}

.main-part__news-text {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  color: #293545;
  font-family: arial;
}

.main-part__news-image {
  margin: auto;
  height: min-intrinsic;
  width: 555px;
}

@media screen and (max-width: 770px) {
  .main-part__news-image {
    width: 400px;
  }
}

.main-part__news-image-block {
  display: flex;
}
