.main-part__news {
  padding-top: 40px;
  padding-bottom: 0;
}

.main-part__news-block {
  display: block;
}

.main-part__news-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #293545;
  font-family: helvetica;
  text-align: start;
}

.main-part__news-text {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  color: #293545;
  font-family: arial;
}

.main-part__news-image {
  margin: auto;
  height: min-intrinsic;
  width: 555px;
  height: 347px;
}

@media screen and (max-width: 773px) {
  .main-part__news-image {
    width: 465px;
    height: 300px;
  }
}

@media screen and (max-width: 513px) {
  .main-part__news-image {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 355px) {
  .main-part__news-image {
    width: 250px;
    height: 190px;
  }
}

.main-part__news-image-block {
  display: flex;
}
